<!-- <script src="{{ "/assets/js/jquery.js" | prepend: baseurl }}"></script>
<script src="{{ "/assets/js/foundation.min.js" | prepend: baseurl }}"></script>
<script src="{{ "/assets/js/what-input.js" | prepend: baseurl }}"></script>
<script src="{{ "/assets/js/masonry.pkgd.min.js" | prepend: baseurl }}"></script>
<script src="{{ "/assets/js/imagesloaded.pkgd.min.js" | prepend: baseurl }}"></script>
<script>
$(document).foundation();
var $grid = $('#masonry-container').imagesLoaded(function(){
    $grid.masonry({
        itemSelector: '#masonry-container > div'
    });
});
</script>
-->

<script src="{{ '/assets/js/swipe.min.js' | prepend: baseurl }}"></script>
<script src="{{ '/assets/js/throttle.js' | prepend: baseurl }}"></script>
<script src="{{ '/assets/js/carousel.js' | prepend: baseurl }}"></script>
<script src="{{ '/assets/js/image.js' | prepend: baseurl }}"></script>
<script src="{{ '/assets/js/main.js' | prepend: baseurl }}"></script>
