---
# Main styles
---

$black: #323230;
$highlight: #EA5457;

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

/////////////////////////////
// BREAKPOINTS
/////////////////////////////

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
}

@mixin for-tablet-portrait-only {
    @media (min-width: 600px) and (max-width: 899px) { @content; }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
}

@mixin for-tablet-landscape-only {
    @media (min-width: 900px) and (max-width: 1199px) { @content; }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}

@mixin for-desktop-only {
    @media (min-width: 1200px) and (max-width: 1799px) { @content; }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
}

/////////////////////////////
// GENERAL
/////////////////////////////

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    @include font-size(13px);
    letter-spacing: 1px;
    line-height: 1.8em;
}

img {
    display: block;
    flex: 1;
}

h1 {
    @include font-size(16px);
}

h2 {
    @include font-size(13px);
}

a {
    text-decoration: none;
    color: $black;
}

/////////////////////////////
// LAYOUT
/////////////////////////////

html, body {
    width: 100%;
    height: 100%;
}

.viewport {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
    flex-direction: column;
}

header[role=banner] {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    min-height: 70px;
    z-index: 1;
    background-color: #fff;

    nav[role=navigation] {
        display: flex;
        align-items: center;

        a {
            display: block;
            margin-left: 15px;
            margin-right: 15px;

            @include for-tablet-portrait-up {
                margin-left: 20px;
                margin-right: 20px;
            }
        }

        .nav-link {
            margin-top: 3px;
        }

        span.active a {
            color: $highlight;
        }

        .back-btn a {
            width: 20px;
            margin-right: 0;
            background-image: url('/assets/images/arrow-back.svg');
            text-indent: -10000px;
            overflow: hidden;
            cursor: pointer;
            background-position: center;
            background-repeat: no-repeat;

            @include for-tablet-landscape-up {
                width: 40px;
            }
        }
    }

    p.copyright {
        display: none;
        align-self: center;
        margin-right: 20px;
        font-size: 11px;
        color: #aaa;

        @include for-tablet-portrait-up {
            display: block;
        }
    }
}

main {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}

.content-wrap {
    margin-top: 70px;
    padding-left: 4em;
    padding-right: 4em;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;

    @include for-desktop-up {
        display: flex;
        /*
        flex-direction: column;
        justify-content: center;
        align-content: stretch;
        */
        margin-top: 0;
        flex: 1;
    }

    &.carousel-wrap {
        padding-left: 0;
        padding-right: 0;
    }
}

section {
    width: 100%;
}

/////////////////////////////
// WORK
/////////////////////////////

.series-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;

    @include for-tablet-portrait-up {
        width: 50%;
    }

    @include for-desktop-up {
        width: 30%;
    }
}

/////////////////////////////
// CAROUSEL
/////////////////////////////

.carousel {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #fff;
}

.slider {
    width: 83.33333333%;
    overflow: hidden;
    visibility: hidden;
    position: relative;
}

.slide-wrap {
    overflow: hidden;
    position: relative;
}

.slide-wrap > div {
    float: left;
    width: 100%;
    position: relative;
}

// 8.3333
.prev, .next {
    position: relative;
    width: 8.3333333%;
    visibility: hidden;

    > div {
        position: absolute;
        top: 50%;
        width: 100%;
        height: 100px;
        margin-top: -50px;
        z-index: 1;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-indent: -10000px;
        overflow: hidden;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: #f9f9f9;
        }
    }
}

.prev > div {
    background-image: url('/assets/images/arrow-left.svg');
}

.next > div {
    background-image: url('/assets/images/arrow-right.svg');
}

.slide {
    display: flex;
}

.desc {
    width: 40%;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousel .img-wrap {
    width: 60%;
}

// Lazily loaded images
img[data-type=lazy] {
    opacity: 0;
    margin: auto;
    transition: opacity 1.5s ease-in-out;

    &.loaded {
        opacity: 1;
    }
}


/////////////////////////////
// ART DESCRIPTION
/////////////////////////////
