---
# Main styles
---

$black: #323230;
$white: #ffffff;
$highlight: #EA5457;
$secondary: #008EB9;

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

/////////////////////////////
// BREAKPOINTS
/////////////////////////////

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
}

@mixin for-tablet-portrait-only {
    @media (min-width: 600px) and (max-width: 899px) { @content; }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
}

@mixin for-tablet-landscape-only {
    @media (min-width: 900px) and (max-width: 1199px) { @content; }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}

@mixin for-desktop-only {
    @media (min-width: 1200px) and (max-width: 1799px) { @content; }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
}

/////////////////////////////
// GENERAL
/////////////////////////////

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    @include font-size(13px);
    letter-spacing: 1px;
    line-height: 1.8em;
}

img {
    display: block;
    flex: 1;
}

h1, h2 {
    font-weight: bold;
}

h1 {
    @include font-size(16px);
}

h2 {
    @include font-size(14px);
}

h3 {
    @include font-size(12px);
}

a {
    text-decoration: none;
    color: $black;
    transition: color 0.2s ease-in-out;

    &:hover {
        color: $highlight;
    }

    &.go {
        display: inline-block;
        padding-right: 20px;
        background-image: url('{{ site.github.url }}/assets/images/sm-arrow-right.svg');
        background-repeat: no-repeat;
        background-position: right;
    }
}

/////////////////////////////
// LAYOUT
/////////////////////////////

html, body {
    width: 100%;
    height: 100%;
}

.viewport {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
    flex-direction: column;
}

header[role=banner] {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    min-height: 70px;
    z-index: 1;
    background-color: #fff;

    nav[role=navigation] {
        display: flex;
        align-items: center;

        a {
            display: block;
            margin-left: 15px;
            margin-right: 15px;

            @include for-tablet-portrait-up {
                margin-left: 20px;
                margin-right: 20px;
            }
        }

        .nav-link {
            margin-top: 3px;
        }

        span.active a {
            color: $highlight;
        }

        .back-btn a {
            width: 20px;
            margin-right: 0;
            background-image: url('{{ site.github.url }}/assets/images/arrow-back.svg');
            text-indent: -10000px;
            overflow: hidden;
            cursor: pointer;
            background-position: center;
            background-repeat: no-repeat;

            @include for-tablet-landscape-up {
                width: 40px;
            }
        }
    }

    p.copyright {
        display: none;
        align-self: center;
        margin-right: 20px;
        font-size: 10px;
        color: #bbb;

        @include for-tablet-portrait-up {
            display: block;
        }
    }
}

main {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}

.content-wrap {
    padding: 4em;
    overflow: auto;
}

.no-padding {
    padding: 0;
}

section {
    width: 100%;
}

article {
    margin-bottom: 2em;
}

.img-wrap {
    width: 100%;
    height: 100%;
}

/////////////////////////////
// HOME
/////////////////////////////

.enter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    padding: 1em 6em 1em 1em;
    border-radius: 2px;
    font-size: 13px;
    letter-spacing: 1.2px;
    text-align: left;
    text-transform: uppercase;
    color: $white;
    background-color: $black;
    background-image: url('{{ site.github.url }}/assets/images/sm-arrow-right-white.svg');
    background-repeat: no-repeat;
    background-position: 85% 50%;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        color: $white;
        background-color: lighten($black, 5%);
    }
}

/////////////////////////////
// WORK
/////////////////////////////

.floating-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;

    @include for-tablet-portrait-up {
        width: 50%;

        &.center {
            justify-content: center;
        }
    }

    @include for-desktop-up {
        width: 30%;
    }
}

/////////////////////////////
// ABOUT
/////////////////////////////

.about > div {
    margin-bottom: 2em;
}

/* CONTACT FORM */

.contact div {
    margin-bottom: 1em;
}

input, textarea {
    outline: none;
}

label {
    display: block;
}

input {
    display: block;
    width: 50%;
    padding: 0.5em;
}

textarea {
    width: 100%;
    padding: 0.5em;
}

input, textarea {
    border-width: 1px;
    border-style: solid;
    border-color: lighten($black, 40%);
    transition: border-color 0.2s ease-in-out;

    &:hover {
        border-color: $black;
    }

    &:focus {
        border-color: $highlight;
    }
}

input[type=submit] {
    width: auto;
    padding: 1em 4em;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 2px;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $white;
    cursor: pointer;
    background-color: $black;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: lighten($black, 10%);
    }

    &:focus {
        border: 1px solid $secondary;
        background-color: lighten($black, 10%);
    }
}

/////////////////////////////
// CAROUSEL
/////////////////////////////

.carousel {
    display: flex;
    position: absolute;
    top: 70px;
    bottom: 0;
}

.slider {
    width: 83.33333333%;
    overflow: hidden;
    visibility: hidden;
    position: relative;
    cursor: ew-resize;
}

.slide-wrap {
    overflow: hidden;
    position: relative;
}

.slide-wrap > div {
    float: left;
    width: 100%;
    position: relative;
}

.prev > div {
    background-image: url('{{ site.github.url }}/assets/images/arrow-left.svg');
}

.next > div {
    background-image: url('{{ site.github.url }}/assets/images/arrow-right.svg');
}

.slide {
    @include for-tablet-landscape-up {
        display: flex;
    }
}

.desc {
    display: none;

    @include for-tablet-landscape-up {
        display: flex;
        width: 30%;
        padding-left: 2em;
        padding-right: 2em;
        flex-direction: column;
        justify-content: center;
    }
}

.carousel .img-wrap {

    img {
        border: 20px solid white;
    }
    @include for-tablet-landscape-up {
        width: 70%;
    }
}

.slide-num {
    font-size: 11px;
}

// 8.3333
.prev, .next {
    position: relative;
    width: 8.3333333%;
    visibility: hidden;

    > div {
        position: absolute;
        top: 50%;
        width: 100%;
        height: 100px;
        margin-top: -50px;
        z-index: 1;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-indent: -10000px;
        overflow: hidden;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: #f9f9f9;
        }
    }
}

/////////////////////////////
// LIGHTBOX
/////////////////////////////

.lightbox {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    background-color: blue;
}

/////////////////////////////
// 404
/////////////////////////////

.four-oh-four {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
        font-size: 50px;
    }
}

// Lazily loaded images
img[data-type=lazy] {
    opacity: 0;
    margin: auto;
    transition: opacity 1.5s ease-in-out;

    &.loaded {
        opacity: 1;
    }
}
