<!DOCTYPE html>
<html>
{% include head.html %}
<body class="viewport">
    <header role="banner">
        <nav role="navigation">
            {% if page.back %}
                <span class="back-btn"><a href="{{ site.github.url }}{{ page.back }}">Back</a></span>
            {% endif %}
            <span><h1><a href="{{ site.github.url }}/">Brannan McGill</a></h1></span>
            <span class="nav-link {% if page.url contains '/work/' %} active {% endif %}"><a href="{{ site.github.url }}/work">Work</a></span>
            <span class="nav-link {% if page.url contains '/about/' %} active {% endif %}"><a href="{{ site.github.url }}/about">About</a></span>
        </nav>
        <p class="copyright">&copy;2017 Brannan McGill. All Rights Reserved.</p>
    </header>

    <main>
        {{ content }}
    </main>

{% include scripts.html %}
</body>
</html>
